*{
    margin: 0;
    padding: 0;
}

.header-wrapper {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(221, 235, 20, 0.663);
    position: relative;
}

.title {
    font-size: 30px;
    font-weight: 900;
}

.option {
    display: flex;
    gap: 50px;
    align-items: center;
    opacity: 0.7;
    font-size: 17px;
}

.sign-up {
    color: white;
    border-radius: 30px;
    height: 33px;
    background-color: black;
    padding:10px 50px;
    position: absolute;
    right: 155px;
    display: flex;
    align-items: center;
}