
.categories-bar {
    width: calc(100% - 20%);
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    color: white;
    background-color: 0f0f0f;
    margin-left: 261px;
    top: 55px;
    position: fixed;
    font-size: 13px;
}


.all {
    display: flex;
    background-color: #3c3c3c;
    width: auto;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    border-radius: 10px;
}

.game {
    display: flex;
    background-color: #3c3c3c;
    width: auto;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    border-radius: 10px;
}

.music {
    display: flex;
    background-color: #3c3c3c;
    width: auto;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    border-radius: 10px;
}

.live {
    display: flex;
    background-color: #3c3c3c;
    width: auto;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    border-radius: 10px;
}

.combination-list {
    display: flex;
    background-color: #3c3c3c;
    width: auto;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    border-radius: 10px;
}

.news {
    display: flex;
    background-color: #3c3c3c;
    width: auto;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    border-radius: 10px;
}

.anime {
    display: flex;
    background-color: #3c3c3c;
    width: auto;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    border-radius: 10px;
}

.recently-upload {
    display: flex;
    background-color: #3c3c3c;
    width: auto;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    border-radius: 10px;
}

.seen {
    display: flex;
    background-color: #3c3c3c;
    width: auto;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    border-radius: 10px;
}

.new-recommendation {
    display: flex;
    background-color: #3c3c3c;
    width: auto;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    border-radius: 10px;
}